.content {
  h1 {}
  h2 {
    padding: 10px 0 15px;
    font: $OpenSans_22_700;
  }
  h3 {
    padding: 10px 0 15px;
    font: $OpenSans_22_700;
  }
  h4 {}
  h5 {}
  h6 {}

  ul {}
  ol {}

  br {}
  hr {}

  p {
    font: $Ubuntu_16_400;
    margin-bottom: 10px;
  }
  b {}
  strong {}
  i {}
  em {}

  img {}
}
