.menu {
  letter-spacing: -0.2px;
  font-weight: 500;
  &[data-search=open] {
    .menu__link {
      transform: scaleX(0);
      opacity: 0;
    }
  }
  &__list {
    display: flex;
  }
  &__item {
    display: block;
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      .menu__inner-list-box {
        transform: scaleY(1);
        z-index: 2;
        transition: transform 0s ease-in-out,
        opacity 0.35s ease-in-out,
        z-index 0s ease;
      }
      .menu__link {
        color: #ff5722;
      }
    }
  }
  &__link {
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 68px;
    padding: 0 22px;
    transform: scaleX(1);
    transform-origin: 0;
    transition: all 0.5s ease-in-out;
    &:before {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: #ff5722;
      opacity: 0;
      transition: all 0.25s ease-in-out;
    }
  }
  &__inner-list-box {
    margin-top: 0;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transform: scaleY(0);
    transform-origin: top;
    z-index: -1;
    background: #fff;
    border-top: 1px solid #e0e0e0;
    &_open {
      transform: scale(1);
      opacity: 1;
    }
  }
  &__inner-list {
    display: flex;
    justify-content: center;
    &_accessories {
      padding: 30px 0;
      justify-content: flex-start;
      .menu__inner-item {
        &:hover {
          background: transparent;
        }
        flex-grow: 1;
        text-align: left;
      }
    }
  }
  &__inner-item {
    display: block;
    color: #000;
    .svg-icon {
      display: block;
      margin: 0 auto;
      use {
        fill: #333;
        transition: all 0.1s ease-in-out;
      }
    }
    &:hover {
      background-color: #f2f2f2;
      //color: #fff;
      .svg-icon {
        use {
          //fill: #fff;
        }
      }
    }
  }
  &__inner-link {
    position: relative;
    display: block;
    padding: 11px 0 39px;
    width: 100px;
    height: 110px;
    &-text {
      display: block;
      line-height: 1.2;
      margin-top: 4px;
      font-size: 12px;
      letter-spacing: 0;
    }
  }
  &__inner-label {
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    font-style: normal;
    font-size: 12px;
    &_new {
      color: #67c23a;
    }
    &_top {
      color: #00c0ff;
    }
    &_sale {
      color: #ff5722;
    }
  }

  &__accessories {
    padding-left: 20px;
  }
  &__accessory {
    &-link {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 40px;
      padding: 0 5px 0 10px;
      border-radius: 4px;
      color: #2e2e2e;
      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}
