.category-group {
  &__header {}
  &__title {}

  &__main {

  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: 100%;
    max-width: 25%;
  }
  &_mod {
    &_ind {
      border-top: 1px solid #e6e6e6;
    }
  }
}


