.pagination {
  color: #757575;
  &__box {
    text-align: right;
  }

  &__list {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
  &__item {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 8px;
    &:hover {
      background: #f2f2f2;
    }
    &:active,
    &.active,
    &_active {
      background: #263238;
      color: #fff;
      &:hover {
        background: #263238;
      }
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 38px;
    text-align: center;
  }
}
