.tags {
  padding: 20px 0;
  overflow: hidden;
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__item {
    margin: 0 5px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
